{%for i in game%}
  {{i.id}}
  {{i.name}}
  {{i.year}}
  <a href="/games/{{i.id}}/">*</a><br>
{%endfor%}
<form action="/games/reg/" method="post">
    {%csrf_token%}
    Назва гри <input type="text" name = "name"><br>
    Дата створення <input type="date" name = "year"><br>
    <button type="submit"></button><br>
    <input type="hidden" name = "email"><br>
    <input type="hidden" name = "password"><br>
</form>
<form action="/games/wot/" method="post">
    {%csrf_token%}
    Id для пошуку <input type="text" value = '0' name = "id"><br>
    Назва гри для пошуку <input type="text" value = '0' name = 'game'><br>
    <button type="submit"></button><br>
</form>