<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
<form action="/games/new_avt/" method="post">
    {%csrf_token%}
    <center><h1>САЙТ АВТОРИЗАЦІЯ</h1></center>
    <center>Ваша почта <input type="text" name = "email"></center><br>
    <center>Ваш пароль <input type="text" name = "password"></center><br>
    <center><button type="submit">Авторизація</button></center><br>
    <input type="hidden" name = "name"><br>
    <input type="hidden" name = "year"><br>
</form>

</body>
</html>